
/* menu */

.navigation {
  background: #FFF;
  border-bottom: 2px solid #E4E7ED;
  border-top: 3px solid #C08E32;
}

.main-nav>li+li {
  margin-left: 30px
}

.main-nav>li>a {
  padding: 20px 0px;
}

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
  color: #C08E32;
  background-color: transparent;
}

.main-nav>li>a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #C08E32;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.main-nav>li>a:hover:after, .main-nav>li>a:focus:after, .main-nav>li.active>a:after {
  width: 100%;
}

/* Secciond e la barra superior para inicio de sesiones */

.top-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1E1F29;
}
  
.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
}

.header-links li a {
  color: #FFF; 
}

.header-links li a:hover {
  color: #C08E32;
}

.header-links li i {
  color: #C08E32;
  margin-right: 5px;
}

/* Seccion para logo y buscador */

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #333f48;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: block;
}

.header-buscar {
  padding: 15px 0px;
}

.header-buscar .buscador-container {
  position: relative;
}

.header-buscar .buscador-container .input {
  width: calc(100% - 200px);
  margin-right: -4px;
  border-radius: 40px 0px 0px 40px;
}

.header-buscar .buscador-container .btn-buscar {
  height: 40px;
  width: 100px;
  background: #C08E32;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
}

.input-select {
    padding: 0px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;
}

.input {
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    width: 100%;
}

.header-carrito {
    float: right;
    padding: 15px 0px;
}

.header-carrito div {
    display: inline-block;
}

.header-carrito div a {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
}

.header-carrito div i {
    display: block;
    font-size: 18px;
}

.header-carrito div span {
    font-size: 12px;
}

.header-carrito div .qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #d4a1aa;
}

.header-carrito .menu-toggle {
    display: none;
}

/* estilo para los seccions */

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
}

/* seccion para catalogo */

.catalogo {
  position: relative;
  overflow: hidden;
  margin: 15px 0px;
}

  /*Esto es para el efecto de dejar a medias una tela sobre las imagenes vv*/
.catalogo:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 25.5%;
  background: #C08E32;
  opacity: 0.9;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.catalogo:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 50%;
  background: #C08E32;
  opacity: 0.9;
  -webkit-transform: skewX(-45deg) translateX(-100%);
  -ms-transform: skewX(-45deg) translateX(-100%);
  transform: skewX(-45deg) translateX(-100%);
}
  /*Esto es para el efecto de dejar a medias una tela sobre las imagenes ^^*/

.catalogo .catalogo-img {
  position: relative;
  background-color: #E4E7ED;
  z-index: -1;
}

.catalogo .catalogo-img img {
  width: 100%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.catalogo:hover .catalogo-img img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.catalogo .catalogo-body {
  position: absolute;
  top: 0;
  width: 75%;
  padding: 5px 30px 30px 30px;
  z-index: 10;
}

.catalogo .catalogo-body h3 {
  color: #333f48;
}

.catalogo .catalogo-body .btn-verCatalogo {
  color: #333f48;
  text-transform: uppercase;
}

/* footer */

.footer-container {
  background: #333f48;
  color: #B9BABC;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 0px 30px;
}

.footer-links li {
  margin-top: 15px;
}

.footer-links li a {
  color: #B9BABC;
}

.footer-links li a:hover {
  color: #C08E32;
}

.footer-links li i {
  margin-right: 15px;
  color: #C08E32;
  width: 14px;
  text-align: center;
}

/* productos */

.producto {
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.producto:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #C08E32;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #C08E32;
}

.producto .producto-img {
  position: relative;
}

.producto .producto-img img {
  width: 100%;
}


.producto .producto-img .producto-label {
  position: absolute;
  top: 15px;
  right: 15px;
}

.producto .producto-img .producto-label span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;
}

.producto .producto-img .producto-label span.sale {
  background-color: #FFF;
  border-color: #C08E32;
  color: #333f48;
}

.producto-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
}

.producto-categoria {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.producto-nombre {
  text-transform: uppercase;
  font-size: 14px;
}

.producto-nombre a {
  font-weight: 700;
  color: black;
}

.producto-nombre a:hover, .product .product-body .product-nombre a:focus {
  color: #C08E32;
}

.producto-precio {
  color: #333f48;
  font-size: 18px;
}

.producto-precio .producto-old-precio {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.producto-line {
  position: relative;
  margin: 15px 0px 10px;
  height: 20px;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1px;
  background-color: #E4E7ED;
}

.producto-btn > button {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.add-carrito .add-carrito-btn {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: #C08E32;
  color: #333f48;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.add-carrito .add-carrito-btn i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #C08E32;
  opacity: 0;
  visibility: hidden;
}

.add-carrito .add-carrito-btn:hover {
  background-color: #FFF;
  color: #C08E32;
  border-color: #C08E32;
  padding: 0px 30px 0px 50px;
}

.add-carrito .add-carrito-btn:hover i {
  opacity: 1;
  visibility: visible;
}