/* galeria */

.section-producto {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.imagenes {
    list-style: none;
    margin: 0;
    max-width: 50rem;
    padding: 0;
}

.imagenes > li {
    border: 1px solid transparent;
    float: left;
    height: calc(100% / 3);
    margin: 0 -1px -1px 0;
    overflow: hidden;
    width: calc(100% / 3);
}

.imagenes > li > img {
    cursor: zoom-in;
    width: 100%;
}


/* detalle de producto */

.nombreProducto {
    text-transform: uppercase;
    font-size: 18px;
}

.precioActual {
    display: inline-block;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #C08E32;
}

.precioAnterior {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
}

.inventarioProducto {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    color: #C08E32;
}

.selectProducto .input-select {
    width: 40%;
    margin-bottom: 25px;
}

.inputProducto .precio {
    -moz-appearance: textfield;
    height: 40px;
    width: 40%;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    padding: 0px 15px 0px 15px;
}

.opcionesProducto {
    margin: 25px 0 25px;
}